img {
  width: 100%;
  height: 400px;
}
a {
  color: #faab7d;
}

a:hover {
  text-decoration: none;
}

.pag {
  /* animation: 1s ease-out 0s 1 slideInFromLeft; */
  background-color: #151521;
  overflow: hidden;
}

#container {
  width: 100%;
  margin: 0;
  background: #151521;
  padding: 0;
  height: 100%;
}

#inner_container {
  /* background: url(../../assets/inner_container.jpg.mno) top repeat-x #181824; */
  padding: 10px 10px 10px 25px;
}

#sidebar {
  width: 220px;
  padding: 10px;
  float: right;
  background: #292b52;
}

#sidebar .top-notch {
  color: #f57dad;
}
#inner_container #sidebar #top {
  color: #f7dbf0;
  text-align: justify;
}

h1,
h2 {
  padding-top: 4%;
}

#content #heading {
  color: #eee3f3;
}

#content #para {
  color: #f8e2cf;
}

#container #sidebar h2 {
  font-size: 90%;
  margin: 10px 0;
}

#container #sidebar p {
  text-indent: 0;
  font-size: 90%;
  line-height: 17px;
}

#content {
  margin-right: 240px;
}

blockquote {
  background: url(../../assets/quote.gif) bottom right no-repeat #292935;
  padding: 2px 17px;
}

#content #quote {
  color: #f9f3df;
  text-align: center;
}

p {
  margin: 10px 0;
  padding: 5px;
  line-height: 20px;
  text-indent: 25px;
  color: #fff;
}

p.note {
  padding: 20px;
  background: #2d2d44;
  color: #fff;
}
#container h1 {
  font: 170% Arial;
  color: #eee3f3;
  margin: 15px 0;
}

#container h2 {
  font: 110% Verdana;
  color: #eee3f3;
  font-weight: bold;
  margin: 25px 0 15px;
}

#container ul {
  margin: 10px 15px;
  list-style: none;
}

#container ul li {
  margin: 10px 0;
  color: whitesmoke;
}

#container img {
  background: #070713;
  padding: 5px;
}

#content #heading2 {
  color: #eee3f3;
  font-family: cursive;
  padding-top: 10%;
  text-align: center;
}

#content #para2 {
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  background-color: #332429;
}

#cont2 #heading3 {
  color: #f1c8f1;
  text-align: center;
}

#cont2 {
  background-color: #151521;
  width: 100%;
  margin: 0 auto;
}

#para3 {
  color: #8a9ece;
  padding: 5%;
  text-align: justify;
}

i {
  vertical-align: middle;
  padding-right: 2%;
}

@media only screen and (max-width: 580px) {
  #content {
    width: 100%;
  }
  #sidebar {
    width: 100%;
  }
  #container {
    padding: 2%;
    justify-content: center;
  }
  img {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #cont2 {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
