<div class="pag">
  <img src="../../assets/2c70580b-933c-4c7d-af82-5d64edc7e810.jpg" />
  <div id="container">
    <div id="inner_container">
      <div id="sidebar">
        <h2 class="top-notch">Why we are at TOP-NOTCH</h2>
        <p id="top">
          Gruham has always been ahead of the curve when it comes to tech
          differentiation, be it being the first to launch an online discovery
          portal to enable customers to shortlist and select their future home;
          having the most number of credible listings on their platform thereby
          providing customers with multiple options to choose from; building a
          Smart Search Technology that enables users to find their dream home by
          providing in-depth information in a structured and effortless manner.
          The Smart Search Technology helps users to quickly and efficiently
          compare price trends by locality, identify nearby amenities in the
          neighbourhood such as schools, hospitals, supermarkets and ATMs among
          others and find customised home listings of their choice be it in the
          luxury, affordable or ready-to-move-in segments. While the competition
          was catching up on the technology front and on providing options to
          its consumers, it became important for Gruham to build a long term
          competitive moat and position itself in the minds of their consumers
          while also differentiating itself from the competition
        </p>
      </div>
      <div id="content">
        <h1 class="text-center" id="heading">Welcome!</h1>
        <p class="note text-center" id="para">
          Hello and welcome to 'Gruham' a free website developed by
          <a href="#">The Avengers</a>. Launched in 2022, Gruham is India's No.1
          online Property marketplace to rent residential and commercial
          properties. Adjudged as the most preferred real estate portal in India
          by various independent surveys
        </p>
        <h2 class="text-center" id="heading">Our Vision</h2>
        <p class="text-center" id="para">
          Delivering trustworthy experiences that you cherish for a lifetime.
        </p>
        <h2 class="text-center" id="heading">Our Mission</h2>
        <p class="text-center" id="para">
          To be the first choice for our consumers and partners in their journey
          of discovering and renting a home. We do that with data, design,
          technology, and above all the passion of our people, while delivering
          value to our shareholders
        </p>
        <h2 class="text-center" id="heading">What we believe</h2>
        <blockquote>
          <p id="quote">
            <em>
              "Home <em>is</em> a place, where your grow up, wanted to live, and
              grow old wanting to get back to"
            </em>
          </p>
          <p style="text-align: right">- John ED Pearce</p>
        </blockquote>
        <h2 id="heading2">Find your dream home anywhere</h2>
        <ul>
          <li id="para2">Flat/Apartments</li>
          <li id="para2">Duplex</li>
          <li id="para2">Villa</li>
          <li id="para2">And many more...</li>
        </ul>
      </div>
    </div>
  </div>
  <div id="cont2">
    <div class="row">
      <h2 id="heading3">From our customers voice</h2>
      <div class="col">
        <p id="para3">
          <i class="material-icons">face</i>Gruham was a big savour in selling
          my apartment. I didn't have all the papers. To my great annoyance I
          had lost some of them but the legal consultancy arranged were very
          smooth in completing all legal formalities. Very helpful
        </p>
      </div>
      <div class="col">
        <p id="para3">
          <i class="material-icons">face</i>Gruham got in touch with vendors
          with years of experience in solar rooftops. All of our confusion and
          concerns on getting solar tech was addressed in great details. We were
          satisfied and took it and have been very grateful
        </p>
      </div>
    </div>
  </div>
</div>
