<!-- <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
  <div class="col">
    <img src="../../assets/svg/undraw_forgot_password_re_hxwm.svg">
  </div>
  <div class="col">
    
  </div>
</div> -->

<div class="container">
  <form #formref (ngSubmit)="check()" class="mx-auto text-light border p-5 mt-5 shadow" id="formcol"
    [formGroup]="forgetpassword">
    <h1 class="text-center">Forget password</h1>
    <label for="email">Email</label>
    <input type="email" name="email" class="form-control" formControlName="email">
    <div *ngIf="(email.invalid && email.touched)" class="text-danger">
      <p *ngIf="email.errors?.['required']">*This is required</p>
    </div>
    <div class="fw-bold text-center text-danger" *ngIf="registrationError.error">
      <p class="w-100" *ngIf="registrationError.errorMessage =='user not found Enter correct email' ">
        {{registrationError.errorMessage}}</p>
    </div>
    <label for="phoneNo">Phone number</label>
    <input type="number" name="phoneNo" class="form-control" formControlName="phoneNo">
    <div *ngIf="(phoneNo.invalid && phoneNo.touched)" class="text-danger">
      <p *ngIf="phoneNo.errors?.['required']">*This is required</p>
    </div>
    <div class="fw-bold text-center text-danger" *ngIf="registrationError.error">
      <p class="w-100" *ngIf="registrationError.errorMessage =='data not matched Enter correct phone number' ">
        {{registrationError.errorMessage}}</p>
    </div>
    <label for="newpassword">New password</label>
    <input type="password" name="newpassword" class="form-control" formControlName="newpassword">
    <div *ngIf="(newpassword.invalid && newpassword.touched)" class="text-danger">
      <p *ngIf="newpassword.errors?.['required']">*This is required</p>
    </div>
    <label for="newpasswordmatch">Re-type new password</label>
    <input type="password" name="newpasswordmatch" class="form-control" formControlName="newpasswordmatch">
    <div *ngIf="(newpasswordmatch.invalid && newpasswordmatch.touched)" class="text-danger">
      <p *ngIf="newpasswordmatch.errors?.['required']">*This is required</p>
    </div>
    <div class="fw-bold text-center text-danger" *ngIf="registrationError.error">
      <p class="w-100"
        *ngIf="(registrationError.errorMessage !=='data not matched Enter correct phone number')&&(registrationError.errorMessage !=='user not found Enter correct email')">
        {{registrationError.errorMessage}}</p>
    </div>
    <button class="btn d-block mt-4 mx-auto" type="login">Change</button>
  </form>
</div>