#formcol{
    background-color: #05124b;
    width: 400px;
}
button{
    background-color: goldenrod;
}

.container{
    background-image: url("../../assets/svg/undraw_forgot_password_re_hxwm.svg");
    background-repeat: no-repeat;
}

@media screen and (max-width:600px) {
    #formcol{
        width: 100%;
    }
}