<div class="one">
  <div class="heading">
    <h1 class="have text-center">Have Some Queries?</h1>
    <h2 class="get text-center">- Get in touch with us</h2>
  </div>
</div>

<div class="container shadow why py-4 mt-3">
  <div class="row">
    <div class="col-md-6">
      <div class="bs-heading">
        <h2 class="title">OFFICE LOCATION</h2>
      </div>
      <div class="col rounded text-dark ms-5" id="mailus">
        <p>Hyderabad</p>
        <p>1st Floor Ayyappa Towers, Near Malaysian Township Circle,</p>
        <p>9th Phase Road 6th Phase,</p>
        <p>Kukatpally Housing Board Colony,</p>
        <p>Hyderabad, Telangana 500072, India</p>
        <p>Call Us at <fa-icon [icon]="faPhoneAlticon"></fa-icon> +91 1234567890</p>
        <p>Email: <fa-icon [icon]="faEnvelopeicon"></fa-icon> gruham@mail.com</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="wow fadeInUp">
        <picture>
          <source media="(min-width: 650px)" srcset="
              https://www.rentmystay.com/resource/home/assets/images/mob-booknew.png
            " />
          <img class="img-fluid" alt="book-on-mobile" data-pagespeed-url-hash="3281832354"
            src="https://www.rentmystay.com/resource/home/assets/images/Vectornew.png"
            onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);" />
        </picture>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="container d-flex shadow mb-5 why" id="formbg" style="margin-top: 2rem">
  <h1 class="mt-5 w-25 text-dark" id="cus" style="padding-right: 2%;">Contact Us</h1>
  <div class="row" style="padding-top: 3%;">
    <div class="col-12 col-sm-6 col-lg-4 w-50">
      <picture>
        <source media="(min-width: 650px)" srcset="
        ../../assets/svg/undraw_contact_us_re_4qqt.svg
          " />
        <img class="img-fluid" alt="book-on-mobile" data-pagespeed-url-hash="3281832354"
          src="../../assets/svg/undraw_contact_us_re_4qqt.svg"
          onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);" />
      </picture>
      <div class="card border-secondary text-secondary">
        <div class="card-body">
          <p class="reachout">
            For any queries please fill the form and we will reach out to you as
            soon as possible
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 w-50">
      <div class="card border-secondary text-secondary">
        <div class="card-body mx-auto">
          <form class="contactform w-100">
            <label for="" class="d-block mx-auto">Contact details</label>
            <p class="name">
              <input class="form-control m-auto d-block" name="name" type="text" placeholder="Name" id="name" />
            </p>
            <p class="email">
              <input class="form-control m-auto d-block" name="email" type="email" placeholder="Email" id="email" />
            </p>
            <p class="number">
              <input class="form-control m-auto d-block" name="number" type="text" placeholder="Number" id="number" />
            </p>
            <p class="text">
              <textarea name="message" class="form-control m-auto d-block" id="comment" placeholder="Message"></textarea>
            </p>
            <div class="submit mt-5">
              <button type="submit" class="button-blue">SUBMIT</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>